<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.revisitingandroid">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RevisitingAndroid"
        tools:targetApi="31">
        <activity
            android:name=".main.contents.tdd.DoTDDShitBroo"
            android:exported="false" />
        <activity
            android:name=".main.contents.cameraX.CameraxActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.workmanagers.WorkmanagerActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.notifications.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.notifications.RoseNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.notifications.StrangerNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.retrofits.RetrofitActivityMain"
            android:exported="false" />
        <activity
            android:name=".main.contents.rooms.RoomActivityMain"
            android:exported="false" />
        <activity
            android:name=".main.contents.varargs.VariabelArguments"
            android:exported="false" />
        <activity
            android:name=".main.contents.viewGroups.viewGroups_Activity_main"
            android:exported="false" />
        <activity
            android:name=".main.contents.intents.v_4.MoveForResultActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.intents.v_2.Intent_ActivityData"
            android:exported="false" />
        <activity
            android:name=".main.contents.intents.v_3.Intent_ActivityParcelable"
            android:exported="false" />
        <activity
            android:name=".main.contents.intents.v_1.IntentActivity_v1"
            android:exported="false" />
        <activity
            android:name=".main.contents.intents.IntentActivityMain"
            android:exported="false" />
        <activity
            android:name=".main.contents.coroutines.CT_CoroutinesActivityMain"
            android:exported="false" />
        <activity
            android:name=".main.contents.recyclerViews.RV_RecyclerViewsActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.navigations.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.livedatas.v_1.LVA_v1_activity"
            android:exported="false" />
        <activity
            android:name=".main.contents.livedatas.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.viewModels.v_2.ViewMAFActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.viewModels.ViewModelsActivity"
            android:exported="false" />
        <activity
            android:name=".main.contents.viewModels.v_1.ViewMActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>